// Colors
$primary-400: #0c475e;
$primary-500: #093d51;
$primary-600: #074250;
$primary-700: #073d44;
$primary-800: #032a39;

$neutral-white: #fff;
$neutral-black: #000;

// Fontsize
$font-size-small: 1.5rem;
$font-size-medium: 2rem;
$font-size-large: 5rem;
