@use "@/styles/variables" as *;

.background-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $primary-800;

  .heart {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .star {
    position: absolute;
    top: 140px;
    right: 0;
    z-index: 2;
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .highlight1 {
    position: absolute;
    top: 40px;
    right: 400px;
    z-index: 2;
  }

  .highlight2 {
    position: absolute;
    top: 200px;
    left: 30px;
    z-index: 2;
  }

  .children {
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
